@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@layer base {
}
.rdp-root {
  --rdp-accent-color: #01b0cb;
  --rdp-accent-background-color: #dffbff;
  --rdp-day_button-border-radius: 8px;

  /* If you really want bold text on selected days: */
  font-family: var(--rdp-font-family);
}

.rdp-day_selected {
  font-weight: 700; /* bold */
}

:root {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fdfeff;
  overflow-x: hidden;
}
/* Custom scrollbar styles */

.scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #0069a8;
  border-radius: 2px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(172, 201, 229);
}

.model-box {
  @apply w-[80vw] md:w-[40%] h-[80vh] bg-white rounded-lg mx-auto mt-14 p-5  z-50;
}
.icon-btn {
  @apply text-[22px] text-slate-300 cursor-pointer hover:text-red-500;
}
